<div class="row course-content-block course-faq">

    <div class="col-md-8 col-md-offset-2">

        <h2 class="text-center">选购 FAQ</h2>

        <div class="faq-block">
            <h3>
                Q：这个能帮我选尺寸小的飘窗吗？我家飘窗很小。</h3>

            <p>
              可以的。在详情页中，根据引导图的尺寸测量方式，给我们提供您的窗户尺寸，就可以给您进行私人定制。

            </p>

        </div>
        <div class="faq-block">
            <h3>
                Q：这个按宽还是按高计算钱，还是按平方？</h3>

            <p>
                按尺寸计算价钱，您提供尺寸，我们帮您算。

            </p>
        </div>
        <div class="faq-block">
            <h3>
                Q：从外面看得到里面吗？</h3>

            <p>

                有30%～100%的遮光度可供选择。

            </p>
        </div>

            <div class="clearfix" style="padding: 20px; text-align:right; font-size: 20px; text-decoration: underline; ">
              <%= link_to("更多信息", "") %>
            </div>
        </div>
    </div>
</div>
