<div class="row course-benefit course-content-block">
    <div class="col-sm-4">
        <div class="text-center">
            <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/1f96866f-goodbank-direct.png" alt="">
        </div>
        <h3 class="text-center">丰富的样式关键词搜索</h3>
        <p>只有用最直接的方式，一键找到发方向，借由图片的引导，让顾客逐渐找到选择一个舒适窗帘的重要技巧及观念。以及如何利用 引导 工具和详情图，
          选购出可「直接使用」的舒适窗帘。</p>

    </div>
    <div class="col-sm-4">
        <div class="text-center">
            <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/3870ca1a-goodbank-lock.png" alt="">
        </div>

        <h3 class="text-center">私人订制个性化生产</h3>
        <p>私人订制有极大的自我发挥空间，5分钟就可搭配出专属你的窗帘作品。跳过枯燥费时的无限浏览状态，实际搭配用以自己所需的窗帘作品。灵活运用引导技巧，
        初学者也能快速变身高效设计师。</p>

    </div>
    <div class="col-sm-4">

        <div class="text-center">
            <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/xinsheng-full-stack/6920dffe-goodbank-low.png" alt="">
        </div>

        <h3 class="text-center">引导选购高效便捷</h3>
        <p>从「引导」观点出发，打磨出能够「高速定制」的个人窗帘定制方法、技巧规则。这个网站不是培养顾客无限刷宝贝。
        而是激发出更多个性产出的私人成果。</p>


    </div>
</div>
