<div class="row course-content-block">
    <div class="text-center">
        <h2>窗帘样式</h2>
    </div>
</div>

  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">
    <h3 class="margin">可爱小调皮</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Learn More</p>
        <img src="https://img.alicdn.com/imgextra/i2/1718330900/TB28aFumFXXXXasXXXXXXXXXXXX_!!1718330900.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Learn More</p>
        <img src="https://img.alicdn.com/imgextra/i2/1718330900/TB2Sr1XdCCI.eBjy1XbXXbUBFXa_!!1718330900.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Learn More</p>
        <img src="https://img.alicdn.com/imgextra/i1/1718330900/TB2BKX4a7WM.eBjSZFhXXbdWpXa_!!1718330900.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
  <div class="container-fluid bg-3 text-center">
    <h3 class="margin">现代简约</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Learn More</p>
        <img src="https://img.alicdn.com/imgextra/i1/1718330900/TB28qx4lFXXXXXSXpXXXXXXXXXX_!!1718330900.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Learn More</p>
        <img src="https://img.alicdn.com/imgextra/i1/1718330900/TB2_lxamFXXXXXdXpXXXXXXXXXX_!!1718330900.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Learn More</p>
        <img src="https://img.alicdn.com/imgextra/i1/1718330900/TB20gUAmUhnpuFjSZFEXXX0PFXa_!!1718330900.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
