<div class="row course-content-block ideal-students">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
            <h2 class="underline-title">适合的对象</h2>
        </div>
        <div class="text-center normal-content">
            <p>
              想用窗帘带来第一缕阳光的你
            </p>

            <p>
                想大幅度缩短选购时间的你
            </p>

            <p>
                相信合适的窗帘是认真对待生活的你
            </p>
        </div>
    </div>
</div>
